/*
Colors used

Text Color: #black;
Primary Color (light blue): #88eae8;
 */

/* || VARIABLES */
:root {
    --text-color: black;
    --primary-color: #88eae8;
}

/* || GENERAL */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.button-class {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid hsl(67, 59%, 75%);
  }